@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main(Messages("listaDeAfazeres")) {
	
	<div class="col-xs-12 col-md-8">
	<div class="panel panel-default">
	  
	    <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">@Messages("adicionarNovaTarefa")</h3>
            </div>
		</div>	    
	    @form(routes.Application.newTask()) {
	        <div class="container">
	        
	       		 @inputText(taskForm("Nome")) 
	       		 @inputText(taskForm("Prioridade"))
	       		 @inputText(taskForm("Descricao"))
	       		<button class="btn btn-primary " type="submit" >@Messages("criar")</button>
	       		
	       </div>
	    }
	    
	   </br>
	   </br>
	   </br>
	   </br>
	   
		<div class="panel-heading">
			<h3 class="panel-title">@Messages("tarefasTODO")</h3>
		</div>
    
	    <ul>
	    
	    <div class="panel-body">
	    	@for(task <- tasks) {
	    		@if(!task.isFeita()) {
	            	<li class="list-group-item">
	                	@Messages("nomeDaTarefa") @task.getNome() </br>
	                </li>
	                <li class="list-group-item">
	               		@Messages("descricaoTarefa") @task.getDescricao() </br>
	                </li>
	                
	                @form(routes.Application.updateTask(task.getId())) {
		          				<button class="btn btn-primary" type="submit" >@Messages("Fazer tarefa")</button>
		          	}
		          	
	                @form(routes.Application.deleteTask(task.getId())) {
	                	<button class="btn btn-danger" type="submit" >@Messages("deletar")</button>
	                }
	                </br>
	        }
	     }
		</ul>
			<div class="panel-heading">
              <h3 class="panel-title">@Messages("tarefasDONE")</h3>
            </div>
		<ul>
		 
	    	@for(task <- tasks) {
	    		@if(task.isFeita()) {
	            	<li class="list-group-item">
	                	@Messages("nomeDaTarefa") @task.getNome() </br>
	                </li>
	                <li class="list-group-item">
	               		@Messages("descricaoTarefa") @task.getDescricao() </br>
	                </li>

	                @form(routes.Application.deleteTask(task.getId())) {
	                	<button class="btn btn-danger " type="submit" >@Messages("deletar")</button>
	                }
	                </br>
	        }
	     }
		</ul>
	</div>
	
	<div id="footer">
      <div class="container">
        <p class="text-muted credit">TODO List <a href="https://docs.google.com/document/d/1D1RMOtkj55_luj-e756I-OJ4mxX3BSj02X_MgnvOz5Q/edit">Lab SI1</a>.</p>
      </div>
	</div>
	</div>
}
	