@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main(TaskController.nomeDaAplicacao()) {
     <div class="jumbotron">

    <h1>@tasks.size() @TaskController.tasks()</h1>
    
    <ul>
        @for(task <- tasks) {
            	<li>
                @TaskController.nomeDaTarefa() @task.getNome() </br>
                </li>
                <li>
                @TaskController.descricaoDaTarefa() @task.getDescricao() </br>
                </li>
                <li><label class="checkbox">
          <input type="checkbox" value=@task.isFeita()>Feita ?
        		</label></li>
                @form(routes.Application.deleteTask(task.getId())) {
                <button class="btn btn-primary " type="submit" >Deletar </button>
                }</br>
        }
    </ul>
    
    <h2>@TaskController.addNovaTarefa()</h2>
    
    @form(routes.Application.newTask()) {
        
        <div class="container">
       		 @inputText(taskForm("Nome")) 
       		 @inputText(taskForm("Prioridade"))
       		 @inputText(taskForm("Descricao"))
       		 <li><label class="checkbox"> <input type="checkbox"
				value=@taskForm("feita")> Feita ?
		</label></li>
        </div>
       <button class="btn btn-primary " type="submit" >Criar</button>
        
    }
    </div>
    
}